DATABASE_URL=postgres://postgres:postgres@localhost:5432/__PROJECT_NAME__
API_PORT=3000
RUST_LOG=info
FRONTEND_URL=http://localhost:5173
API_URL=http://localhost:3000
JWT_SECRET=change_me_in_dev
APP_NAME=__PROJECT_NAME__
SMTP_HOST=localhost
SMTP_PORT=1025
MAIL_FROM=noreply@__PROJECT_NAME__.local
SMTP_FROM_NAME=__PROJECT_NAME__
NEXT_PUBLIC_API_URL=http://localhost:3000/api
NEXT_PUBLIC_CDN_URL=http://localhost:3000/uploads
